<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aixuexiao.dao.ExamDao">
	
    
    <select id="selectExam"  parameterType="java.util.HashMap"   resultMap="examMap"  >
	   select id,classid,course,examtime,fullmarks,average,topmark,lowestmark,remark 
	   from exam 
		<where>
		    <if test="exam.classid != 0">classid = #{exam.classid}</if>
		    <if test="exam.course != null and exam.course != ''">and course = #{exam.course}</if>
		</where>	   
	   order by id  
	   limit #{start},#{size}
	</select>
	
	<select id="selectExamById" parameterType="int"   resultMap="examMap"  >
	   select id,classid,course,examtime,fullmarks,average,topmark,lowestmark,remark 
	   from exam
	   where id = #{id}
	</select>    
	    
	<select id="selectExamMarkByStudentId" parameterType="int"   resultMap="examMarkMap"  >
	   select  examid,classid,studentid,studentname,examtime,mark,rank,remark 
	   from exam_mark 
	   where studentid = #{studentid}
	   order by examtime desc 
	   limit #{limit}
	</select>   
	
	<select id="selectExamMarkByExamId" parameterType="int"   resultMap="examMarkMap"  >
	   select  examid,classid,studentid,studentname,examtime,mark,rank,remark 
	   from exam_mark 
	   where examid = #{examid}
	</select>  
	
	<insert id="addExam" parameterType="com.aixuexiao.model.Exam">
	    <selectKey    keyProperty="id" resultType="int" order="AFTER"> 
	      SELECT LAST_INSERT_ID() AS id
	    </selectKey> 
		insert into exam (classid,course,examtime,fullmarks,average,topmark,lowestmark,remark)
		 values(#{classid},#{course},#{examtime},#{fullmarks},#{average},#{topmark},#{lowestmark},#{remark})
	</insert>
	
	<insert id="addExamMark" parameterType="com.aixuexiao.model.ExamMark">
		insert into exam_mark (examid,classid,studentid,studentname,examtime,mark,rank,remark)
		 values(#{examid},#{classid},#{studentid},#{studentname},#{examtime},#{mark},#{rank},#{remark})
	</insert>
	
	 <resultMap type="Exam" id="examMap">
	     <id property="id" column="id" />  
	     <result property="classid" column="classid"/>  
	     <result property="course" column="course"/>
	     <result property="examtime" column="examtime"/>
	     <result property="fullmarks" column="fullmarks"/>
	     <result property="average" column="average"/>
	     <result property="topmark" column="topmark"/>
	     <result property="lowestmark" column="lowestmark"/>
	     <result property="remark" column="remark"/>
	     <collection property="examMarks" column="id" ofType="ExamMark" select="selectExamMarkByExamId"/> 
	</resultMap>
	
	<resultMap type="ExamMark" id="examMarkMap">
	     <result property="examid" column="examid"/>  
	     <result property="classid" column="classid"/>
	     <result property="studentid" column="studentid"/>
	     <result property="studentname" column="studentname"/>
	     <result property="examtime" column="examtime"/>
	     <result property="mark" column="mark"/>
	     <result property="rank" column="rank"/>
	     <result property="remark" column="remark"/>
	     <association property="exam" javaType="Exam"  column="examid" select="selectExamById"/> 
	</resultMap>
	 
</mapper>