<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aixuexiao.dao.StudentDao">
	
	<select id="selectStudentById" parameterType="int"   resultMap="studentMap"  >
	   select id,classid,name,remark 
	   from student
	   where id = #{id}
	</select>    
	
	<select id="selectStudentByClassesId" parameterType="int"   resultMap="studentMap"  >
	   select id,classid,name,remark 
	   from student
	   where classid = #{classid}
	</select>  
	
	<select id="selectStudent"  parameterType="java.util.HashMap"   resultMap="studentMap"  >
	   select id,classid,name,remark 
	   from student 
		<where>
		    <if test="student.classid != 0">classid = #{student.classid}</if>
		    <if test="student.name != null and student.name != ''">and name like CONCAT('%','${student.name}','%' )</if>
		</where>	   
	   order by id  
	   limit #{start},#{size}
	</select>
	
	<update id="updateStudent"  parameterType="com.aixuexiao.model.Student">
	    update student 
	    set classid=#{classid},name=#{name},remark=#{remark}
	    where id = #{id}
	</update>
	
	<insert id="addStudent" parameterType="com.aixuexiao.model.Student">
		insert into student (id,classid,name,remark )
		 values(#{id},#{classid},#{name},#{remark})
	</insert>
	
	<delete id="deleteStudentById" parameterType="int" >
	    delete from student where id = #{id}
	</delete>
	
	 <resultMap type="Student" id="studentMap">
	     <id property="id" column="id" />  
	     <result property="classid" column="classid"/>  
	     <result property="name" column="name"/>
	     <result property="remark" column="remark"/>
	</resultMap>
	
</mapper>